openapi: 3.2.0
info:
  title: Openpay Bank Accounts API
  description: REST API for the Openpay online payments platform (BBVA group), available in Mexico and Colombia.
  termsOfService: https://www.openpay.mx/terminos-y-condiciones.html
  contact:
    name: Openpay Support
    url: https://www.openpay.mx
    email: soporte@openpay.mx
  version: '1.0'
servers:
- url: https://api.openpay.mx/v1
  description: Production (Mexico)
- url: https://sandbox-api.openpay.mx/v1
  description: Sandbox (Mexico)
- url: https://api.openpay.co/v1
  description: Production (Colombia)
- url: https://sandbox-api.openpay.co/v1
  description: Sandbox (Colombia)
security:
- basicAuth: []
tags:
- name: Bank Accounts
  description: Manage customer bank accounts used as payout destinations.
paths:
  /{merchant_id}/customers/{customer_id}/bankaccounts:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    post:
      operationId: createBankAccount
      tags:
      - Bank Accounts
      summary: Add a bank account to a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccount'
      responses:
        '200':
          description: Bank account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
    get:
      operationId: listBankAccounts
      tags:
      - Bank Accounts
      summary: List a customer's bank accounts
      responses:
        '200':
          description: A list of bank accounts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankAccount'
  /{merchant_id}/customers/{customer_id}/bankaccounts/{bank_account_id}:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    - name: bank_account_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getBankAccount
      tags:
      - Bank Accounts
      summary: Get a bank account by id
      responses:
        '200':
          description: The bank account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
    delete:
      operationId: deleteBankAccount
      tags:
      - Bank Accounts
      summary: Delete a bank account
      responses:
        '204':
          description: Bank account deleted.
components:
  parameters:
    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
    MerchantId:
      name: merchant_id
      in: path
      required: true
      description: The merchant identifier that scopes all resources.
      schema:
        type: string
  schemas:
    BankAccount:
      type: object
      properties:
        id:
          type: string
        clabe:
          type: string
        alias:
          type: string
        holder_name:
          type: string
        bank_name:
          type: string
        bank_code:
          type: string
        creation_date:
          type: string
          format: date-time
    CreateBankAccount:
      type: object
      required:
      - clabe
      - holder_name
      properties:
        clabe:
          type: string
          description: 18-digit CLABE account number (Mexico).
        alias:
          type: string
        holder_name:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the merchant private API key as the username and leave the password empty.
