openapi: 3.0.1
info:
  title: Openpay BankAccounts Transfers API
  description: REST API for the Openpay online payments platform (BBVA group), available in Mexico and Colombia. Resources are scoped to a merchant under the path /v1/{merchant_id}. The API supports charges against cards, convenience stores (cash), and banks (SPEI); customers and stored cards; client-side tokens; recurring plans and subscriptions; payouts and transfers to bank accounts; commission fees; and webhook notifications. Authentication uses HTTP Basic auth with the merchant private API key as the username and an empty password.
  termsOfService: https://www.openpay.mx/terminos-y-condiciones.html
  contact:
    name: Openpay Support
    url: https://www.openpay.mx
    email: soporte@openpay.mx
  version: '1.0'
servers:
- url: https://api.openpay.mx/v1
  description: Production (Mexico)
- url: https://sandbox-api.openpay.mx/v1
  description: Sandbox (Mexico)
- url: https://api.openpay.co/v1
  description: Production (Colombia)
- url: https://sandbox-api.openpay.co/v1
  description: Sandbox (Colombia)
security:
- basicAuth: []
tags:
- name: Transfers
  description: Move funds between Openpay customers.
paths:
  /{merchant_id}/customers/{customer_id}/transfers:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    post:
      operationId: createTransfer
      tags:
      - Transfers
      summary: Transfer funds from one customer to another.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransfer'
      responses:
        '200':
          description: Transfer created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
    get:
      operationId: listTransfers
      tags:
      - Transfers
      summary: List a customer's transfers.
      responses:
        '200':
          description: A list of transfers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transfer'
  /{merchant_id}/customers/{customer_id}/transfers/{transfer_id}:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    - name: transfer_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getTransfer
      tags:
      - Transfers
      summary: Get a transfer by id.
      responses:
        '200':
          description: The transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
components:
  parameters:
    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
    MerchantId:
      name: merchant_id
      in: path
      required: true
      description: The merchant identifier that scopes all resources.
      schema:
        type: string
  schemas:
    Transfer:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
        description:
          type: string
        order_id:
          type: string
        creation_date:
          type: string
          format: date-time
    CreateTransfer:
      type: object
      required:
      - customer_id
      - amount
      properties:
        customer_id:
          type: string
          description: Destination customer id.
        amount:
          type: number
          format: float
        description:
          type: string
        order_id:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the merchant private API key as the username and leave the password empty.
