openapi: 3.0.1
info:
  title: Openpay BankAccounts Payouts API
  description: REST API for the Openpay online payments platform (BBVA group), available in Mexico and Colombia. Resources are scoped to a merchant under the path /v1/{merchant_id}. The API supports charges against cards, convenience stores (cash), and banks (SPEI); customers and stored cards; client-side tokens; recurring plans and subscriptions; payouts and transfers to bank accounts; commission fees; and webhook notifications. Authentication uses HTTP Basic auth with the merchant private API key as the username and an empty password.
  termsOfService: https://www.openpay.mx/terminos-y-condiciones.html
  contact:
    name: Openpay Support
    url: https://www.openpay.mx
    email: soporte@openpay.mx
  version: '1.0'
servers:
- url: https://api.openpay.mx/v1
  description: Production (Mexico)
- url: https://sandbox-api.openpay.mx/v1
  description: Sandbox (Mexico)
- url: https://api.openpay.co/v1
  description: Production (Colombia)
- url: https://sandbox-api.openpay.co/v1
  description: Sandbox (Colombia)
security:
- basicAuth: []
tags:
- name: Payouts
  description: Send funds to registered bank accounts.
paths:
  /{merchant_id}/customers/{customer_id}/payouts:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    post:
      operationId: createPayout
      tags:
      - Payouts
      summary: Create a payout to a registered bank account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayout'
      responses:
        '200':
          description: Payout created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
    get:
      operationId: listPayouts
      tags:
      - Payouts
      summary: List a customer's payouts.
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of payouts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payout'
  /{merchant_id}/customers/{customer_id}/payouts/{payout_id}:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    - $ref: '#/components/parameters/CustomerId'
    - name: payout_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getPayout
      tags:
      - Payouts
      summary: Get a payout by id.
      responses:
        '200':
          description: The payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
components:
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
    MerchantId:
      name: merchant_id
      in: path
      required: true
      description: The merchant identifier that scopes all resources.
      schema:
        type: string
    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return.
      schema:
        type: integer
        default: 10
  schemas:
    CreatePayout:
      type: object
      required:
      - method
      - amount
      properties:
        method:
          type: string
          enum:
          - bank_account
          default: bank_account
        destination_id:
          type: string
          description: Id of the registered bank account to receive the payout.
        amount:
          type: number
          format: float
        description:
          type: string
        order_id:
          type: string
    Payout:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        method:
          type: string
        status:
          type: string
        description:
          type: string
        order_id:
          type: string
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        creation_date:
          type: string
          format: date-time
    BankAccount:
      type: object
      properties:
        id:
          type: string
        clabe:
          type: string
        alias:
          type: string
        holder_name:
          type: string
        bank_name:
          type: string
        bank_code:
          type: string
        creation_date:
          type: string
          format: date-time
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the merchant private API key as the username and leave the password empty.
