openapi: 3.2.0
info:
  title: Openpay Fees API
  description: REST API for the Openpay online payments platform (BBVA group), available in Mexico and Colombia.
  termsOfService: https://www.openpay.mx/terminos-y-condiciones.html
  contact:
    name: Openpay Support
    url: https://www.openpay.mx
    email: soporte@openpay.mx
  version: '1.0'
servers:
- url: https://api.openpay.mx/v1
  description: Production (Mexico)
- url: https://sandbox-api.openpay.mx/v1
  description: Sandbox (Mexico)
- url: https://api.openpay.co/v1
  description: Production (Colombia)
- url: https://sandbox-api.openpay.co/v1
  description: Sandbox (Colombia)
security:
- basicAuth: []
tags:
- name: Fees
  description: Charge commission fees to a customer's Openpay balance.
paths:
  /{merchant_id}/fees:
    parameters:
    - $ref: '#/components/parameters/MerchantId'
    post:
      operationId: createFee
      tags:
      - Fees
      summary: Charge a commission fee to a customer's balance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFee'
      responses:
        '200':
          description: Fee charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
    get:
      operationId: listFees
      tags:
      - Fees
      summary: List charged fees
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of fees.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fee'
components:
  schemas:
    Fee:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
        description:
          type: string
        order_id:
          type: string
        creation_date:
          type: string
          format: date-time
    CreateFee:
      type: object
      required:
      - customer_id
      - amount
      properties:
        customer_id:
          type: string
          description: Customer whose balance is charged the fee.
        amount:
          type: number
          format: float
        description:
          type: string
        order_id:
          type: string
  parameters:
    MerchantId:
      name: merchant_id
      in: path
      required: true
      description: The merchant identifier that scopes all resources.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return.
      schema:
        type: integer
        default: 10
    Offset:
      name: offset
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the merchant private API key as the username and leave the password empty.
